.cart-table {
  border-collapse: collapse;
  background: white;
  width: 100%;
  max-width: 1200px;
  border: none;
  border-radius: 10px;
}

.cart-table td,
.cart-table th {
  padding: 10px;
}

body {
  margin: 0;
}

.main-cart {
  padding: 20px;
  width: 80%;
  margin: auto;
}
.title {
  font-family: "montserrat", serif;
  margin-top: 50px;
  font-weight: normal;
  font-size: 24px;

  color: #0a4a9b;
}

thead {
  font-family: "nunito", serif;
  color: grey;
}
tr {
  border-bottom: 1px solid lightgray;
}

.cart-table th:nth-child(1) {
  width: 15%;
}
.item {
  width: 35%;
}
.amount {
  width: 10%;
}
.price {
  width: 20%;
  text-align: right;
}

.prod-item {
  font-family: "nunito", serif;
  font-weight: bold;
  color: grey;
}
.prod-num {
  text-align: right;
  font-family: "montserrat", serif;
  color: grey;
}

.sum-price {
  font-family: "montserrat", serif;
  font-size: 20px;
  text-align: right;
  color: #0a4a9b;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  width: 100%;
  margin-top: 30px;
  font-family: "montserrat", serif;
}
.button {
  float: right;
  background: #0a4a9b;
  color: white;
  font-family: "montserrat", serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

/*hover, focus, active 순으로 설정해야 제대로 작동한다.*/

.button:hover {
  background: white;
  color: #0a4a9b;
}
/*focus = 커서 찍혀 있을 때 스타일 설정*/
.button:focus {
  background: grey;
}

/*active = 버튼을 누르고 있을 때 상태 설정*/
.button:active {
  background: #abc5d3;
}

.input-test {
  font-size: 16px;
}

.edit-link {
  text-decoration: none;
}
/*방문하기 전 링크 색상 스타일링*/
.edit-link:link {
  color: #0a4a9b;
}
/*방문 후 링크 스타일*/
.edit-link:visited {
  color: black;
}
