/*유틸리티 클래스!*/

.f-small {
  font-size: 12px;
}
.f-mid {
  font-size: 16px;
}
.f-lg {
  font-size: 20px;
}
.main-btn {
  padding: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.bg-red {
  background: red;
}

.bg-green {
  background: green;
}
