.alert-box {
  background: #0a4a9b;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

.list-group {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.show-list {
  height: 210px;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  /*모든 속성이 변하는 시간 추가 (transition)*/
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
.show-modal {
  display: block;
  visibility: visible;
  opacity: 1;
}

.main-bg {
  padding: 100px 20px;
  border: black solid 1px;
}

.dark {
  background: black;
  color: white;
}
.dark > .main-bg {
  border: white solid 1px;
}
