h1 {
  padding: 10px;
  background-color: coral;
  color: #fff;
}

img {
  width: 225px;
  display: inline;
}

div {
  border: 1px solid #222;
}

.container {
  width: 1735px;
  height: auto;
}

.food {
  width: 735px;

  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.name {
  margin-top: 20px;
  margin-bottom: 4px;
  text-align: center;
}

right_sidebar {
  width: 150px;
  height: 600px;
  float: right;
  background-color: #29e9e9;
}
